#footer-section{
    display: flex;
    // flex-direction: row;
    justify-content: center;
      

    #footer-text{
        font-size: small;
    }

    #footer-image{
        width: 7%;
        padding-left: 1%;

    }
}